body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

.controls {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 10;
}

.combination {
    position: absolute;
    top: 43.5%;
    left: 34.5%;
}

.background {
    position: relative;
    width: 100%;
    height: 100%;
}

.background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.clickable-area {
    position: absolute;
    border: 1px dotted rgba(245, 245, 245, 0.631);
}

.input-box {
    width: 40px;
    height: 40px;
    font-size: 24px;
    text-align: center;
    margin: 5px;
    border: 1px solid #e60b0b;
    outline: none;
}

.num-box {
    width: 7%;
    height: 100%;
    font-size: 50px;
    text-align: center;
    margin: 5px;
    border: 1px solid #ccc;
    outline: none;
}

.open-button {
    position: absolute;
    top: 53%;
    left: 43.5%;
}

#open {
    color: white;
    text-decoration: none;
    border: 1px solid #ccc;
    margin-left: 10px;
    padding: 8px;
    font-size: 16px;
}

#door {
    top: 48%;  /* Adjust this percentage as needed */
    left: 30%; /* Adjust this percentage as needed */
    width: 5%; /* Adjust size */
    height: 20%; /* Adjust size */
}

#table {
    top: 60%;  /* Adjust this percentage as needed */
    left: 48%; /* Adjust this percentage as needed */
    width: 8%; /* Adjust size */
    height: 10%; /* Adjust size */
}

#herbs {
    top: 47%;  /* Adjust this percentage as needed */
    left: 37%; /* Adjust this percentage as needed */
    width: 6%; /* Adjust size */
    height: 6%; /* Adjust size */
}

#note {
    top: 60%;  /* Adjust this percentage as needed */
    left: 35%; /* Adjust this percentage as needed */
    width: 15%; /* Adjust size */
    height: 20%; /* Adjust size */
}

#barrel_mouse {
    top: 60%;  /* Adjust this percentage as needed */
    left: 50%; /* Adjust this percentage as needed */
    width: 2%; /* Adjust size */
    height: 7%; /* Adjust size */
}

#indoor_table_1 {
    top: 49%;  /* Adjust this percentage as needed */
    left: 25%; /* Adjust this percentage as needed */
    width: 9%; /* Adjust size */
    height: 5%; /* Adjust size */
}

#indoor_table_2 {
    top: 58%;  /* Adjust this percentage as needed */
    left: 18%; /* Adjust this percentage as needed */
    width: 12%; /* Adjust size */
    height: 7%; /* Adjust size */
}

#game {
    top: 75%;  /* Adjust this percentage as needed */
    left: 38%; /* Adjust this percentage as needed */
    width: 9%; /* Adjust size */
    height: 14%; /* Adjust size */
}

#shelf {
    top: 46%;  /* Adjust this percentage as needed */
    left: 43%; /* Adjust this percentage as needed */
    width: 9%; /* Adjust size */
    height: 11%; /* Adjust size */
}

#window {
    top: 40%;  /* Adjust this percentage as needed */
    left: 71%; /* Adjust this percentage as needed */
    width: 7%; /* Adjust size */
    height: 12%; /* Adjust size */
}

#barrel_scroll {
    top: 59%;  /* Adjust this percentage as needed */
    left: 47%; /* Adjust this percentage as needed */
    width: 2%; /* Adjust size */
    height: 7%; /* Adjust size */
}

#code {
    top: 61%;  /* Adjust this percentage as needed */
    left: 53%; /* Adjust this percentage as needed */
    width: 7%; /* Adjust size */
    height: 9%; /* Adjust size */
}
